body{
  background-color: black;
  color: white;

}

.container{
  background-color: lawngreen;
  border: 3px dotted darkgreen;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 300px;
  border-radius: 600px;
  margin: auto;
  margin-top: 100px;
}

button{
  background-color: darkgreen;
  color: aquamarine;
  border:none;
  width: 70px;
  height: 35px;
  margin-bottom: 2px;
}
button:hover{
  background-color: darkcyan;
  cursor: pointer;
  color: red;
}

h1{
  font-weight: bold;
  color: rgb(4, 69, 69);
}