.counter-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: beige;
    color: black;
    width: 300px;
    height:200px;
    border: 2px solid rgb(100, 99, 99);
    
}